.row
  // align-items center
  display grid

.col
  padding 0 40px

.header
  grid-template-columns repeat(2, 1fr) 2fr
.search
  grid-template-columns 1fr



.Rectangle_2_copy_14 {
  background-color: rgb(249, 249, 249);
  position: absolute;
  left: 40px;
  top: 418px;
  width: 560px;
  height: 420px;
  z-index: 101;
}
