.btn
  position relative
  border none
  border-radius 2px
  text-align left

  &--large
    padding 0 24px
    width 236px
    font-size 16px
    line-height 48px
    max-height 56px

  &--green
    color $white
    background-color $green
  &--orange
    color $white
    background-color $orange
  &__icon
    margin-right 9px
  &__label
    vertical-align middle
