.btn
  position relative
  display block
  border none
  border-radius 2px
  text-align left

  &--large
    padding-left 24px
    width 236px
    font-size 16px
    line-height 56px
    max-height 56px

  &--green
    // color $white
    background-color $green
  &--orange
    color $white
    background-color $orange
  &__icon
    margin-right 9px

  &_vertical-middle
    vertical-align middle

  &_text-white
    color $white
  &_text-orange
    color $orange
