.search
  &__wrap
    padding-top 40px

  &__form
    display flex
    flex-direction row
    flex-basis .000001px

  &__container
    flex 1
    position: relative;

  &__input-block
    height 100%

  &__input
    flex 1
    padding 16px 20px
    width 100%
    background-color #fff
    border: none
    position absolute
    top 0
    bottom 0
    border-width 2px
    border-style solid
    border-color $orange
    border-radius 2px 0 0 2px

    &::placeholder
      color $grey

  &__button
    border-radius 0 2px 2px 0
    border 2px solid $orange

    @media (max-width: 1050px)
      .btn__label
        display none

  &__filter
    display flex
    justify-content: space-between
  &__filter, &__parameters
    margin-top 12px
    color $grey
  &__parameters
    text-align right

label
  margin-right 15px
  cursor pointer
  &:last-child
    margin-right 0

:checked + label
  color $black
