extends /blocks/layout-default/layout-default
include ../blocks/icon/icon

block head
	- var pageTitle = 'Bazar Project Template';

block content
	header
		.row.header
			.col.logo
				.logo__img
					img(src="../Cyprus_BAZAR@1x.png" alt="cyprus bazar")
				h6.logo__subtitle Бесплатные объявления
			.col.application
				a.btn.application__space(href="")
					+icon('apple', true).icon.icon--grey
				a.btn.application__space(href="")
					+icon('google-play', true).icon.icon--grey

				//- // Доделать дропдаун меню
				.dropdown RU
			.col.person
				.person__likes
					button.btn
						+icon('like', true).icon.icon_left.icon--grey
						span.btn_vertical-middle 15

				//- // Доделать дропдаун меню
				.person__username.dropdown
					+icon('user', true).icon.icon_left.icon--grey
					span.btn_vertical-middle Константин
				a.btn.btn--large.btn--green(href='#')
					+icon('add', true).icon.icon--white.btn__icon
					span.btn_vertical-middle.btn_text-white Подать объявление
	section
		.row.search.col
			.search__wrap
				form.search__form
					.search__container
						input.search__input(type="text" name="text" placeholder="37 объявлений сегодня, всего 12 232")
						.search__filter
							.search__block-1
								input(type="checkbox" id="title")
								label(for="title") В заголовке
								input(type="checkbox" id="photo")
								label(for="photo") С фото
								input(type="checkbox" id="newonly")
								label(for="newonly") Только новые
							.search__block-2
								//- // Доделать дропдаун меню
								label(for="title") Все города
								label(for="photo") Все разделы
					button.search__button.btn.btn--large.btn--orange(type="submit" role="button")
						+icon('search', true).icon.icon--white.btn__icon
						span.btn__label Найти объявление

	main.row
		nav.navbar.col
			a(href="#").navbar__link
				span.btn__label Главная
			a(href="#").navbar__link
				+icon('right-arrow', true).icon.icon_left.icon--grey.icon--small
				span.btn__label Недвижимость
			a(href="#").navbar__link
				+icon('right-arrow', true).icon.icon_left.icon--grey.icon--small
				span.btn__label Квартиры
			a(href="#").navbar__link
				+icon('right-arrow', true).icon.icon_left.icon--grey.icon--small
				span.btn__label Продам трехспальные апартаменты в центре Лимассола
		section.product-summary
			.product-summary__headline.col
				.product-title
					.product-title__text-container
						.title__text
							h1.title.title_size_40 Продам трехспальные апартаменты в центре Лимассола
					.product-title__toolbar
						.product-title__description
							span.btn__label.product-title__item-label Лимассол
							span.btn__label.product-title__item-label 26 Апр 18:04
							span.btn__label.product-title__item-label 34 просмотра сегодня, всего 238
							span.btn__label.product-title__item-label № 34711
						.product-title__features
							a(href="#").navbar__link
								+icon('left-arrow', true).icon.icon--grey.icon--small
								span.btn__label Назад
							a(href="#").navbar__link
								span.btn__label Вперед
								+icon('right-arrow', true).icon.icon--grey.icon--small
			.product-summary__content.row
				.col.product-summary__gallery
					.product-summary__image-container
						img(src="http://via.placeholder.com/560x420", alt="")
				.col.product-content-block
					.product-content-block__price &euro; 380 000
					.product-content-block__content
						.product-details
							.product-details__key Тип
							.product-details__value Недвижимость
					.product-content-block__content
						.product-details
							.product-details__key Город
							.product-details__value Лимассол
					.product-content-block__content
						.product-details
							.product-details__key Район
							.product-details__value Рекреационный центр отдыха
					.product-content-block__content
						.product-details
							.product-details__key Спальни
							.product-details__value 3 спальни и диван в гостиной
					.product-content-block__content
						a.product-content-block__summary(href="#")
							span.btn__label.product-content-block__span Смотреть все параметры
							+icon('down-arrow', true).icon.icon--green.icon--small

				.col
					a.btn.btn--large.btn--green(href='#')
						+icon('phone-call', true).icon.icon--white.btn__icon
						span.btn_vertical-middle.btn_text-white Показать контакты
					a.btn.btn--large(href='#')
						+icon('mail', true).icon.icon--grey.btn__icon
						span.btn_vertical-middle Написать владельцу
					a.btn.btn--large(href='#')
						+icon('like', true).icon.icon--grey.btn__icon
						span.btn_vertical-middle В избранное
					a.btn.btn--large(href='#')
						+icon('danger', true).icon.icon--grey.btn__icon
						span.btn_vertical-middle Пожаловаться
					a.btn.btn--large(href='#')
						+icon('star', true).icon.icon--orange.btn__icon
						span.btn_vertical-middle.btn_text-orange Поднять объявление
					a(href='#')
						img(src="../banner-adv.png", alt="")
			.product-social.col
				.product-social__links
					.product-social__item
						button.btn.icon_hover
							+icon('new-message', true).icon.icon_left.icon--grey
					.product-social__item
						button.btn.icon_hover
							+icon('printer-outline-variant-with-paper', true).icon.icon_left.icon--grey
					.product-social__item
						button.btn.icon__box.icon_b-blue
							+icon('facebook-logo', true).icon.icon__social.icon_left.icon--white
						span.btn_vertical-middle 55
					.product-social__item
						button.btn.icon__box.icon_b-red
							+icon('google-plus', true).icon.icon__social.icon_left.icon--white
						span.btn_vertical-middle 12
					.product-social__item
						button.btn.icon__box.icon_b-twitt-blue
							+icon('twitter-logo-silhouette', true).icon.icon__social.icon_left.icon--white
						span.btn_vertical-middle 7
					.product-social__item
						button.btn.icon__box.icon_b-link-blue
							+icon('linkedin-logo', true).icon.icon__social.icon_left.icon--white

			.product-description
				.product-description__layout.col
					.product-description__description
						| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est facere architecto qui perspiciatis cupiditate dicta, quas ab fuga porro tenetur non sed ipsa eveniet, modi quos illo culpa dolore fugit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est facere architecto qui perspiciatis cupiditate dicta, quas ab fuga porro tenetur non sed ipsa eveniet, modi quos illo culpa dolore fugit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est facere architecto qui perspiciatis cupiditate dicta, quas ab fuga porro tenetur non sed ipsa eveniet, modi quos illo culpa dolore fugit!
				.product-description__grid.row
					.product-description__content.col
						.product-details
							.product-details__key Тип
							.product-details__value Недвижимость
					.product-description__content.col
						.product-details
							.product-details__key Город
							.product-details__value Лимассол
					.product-description__content.col
						.product-details
							.product-details__key Район
							.product-details__value Рекреационный центр отдыха
					.product-description__content.col.col-2.row-2
						.product-details
							.product-details__key Дополнительно
							.product-details__value Общественный бассейн и тренажерный зал для жильцов комплекса, бар, рядом магазин, детский сад и школа
				.product-location
					.product-location__map.col
						#google-map
				.product-relatives
					.product-relatives__wrap
						.product-title.col
							.product-title__text-container
								.title__text
									h1.title.title_size_40 Похожие объявления
						.product-relatives__items.row
							.product-relatives__item.col
								.product-relatives__image-container
									a(href="#")
										.product-relatives__picture
								.product-relatives__title
									| Квартирко Квартирко Квартиркоeeeeee
								.product-relatives__footer
									.product-relatives__price 320 000 &euro;
									.product-relatives__like
										button.btn
											+icon('like', true).icon.icon_left.icon--grey
							.product-relatives__item.col
								.product-relatives__image-container
									a(href="#")
										.product-relatives__picture
								.product-relatives__title
									| Квартирко Квартирко Квартиркоeeeeee
								.product-relatives__footer
									.product-relatives__price 320 000 &euro;
									.product-relatives__like
										button.btn
											+icon('like', true).icon.icon_left.icon--grey
							.product-relatives__item.col
								.product-relatives__image-container
									a(href="#")
										.product-relatives__picture
								.product-relatives__title
									| Квартирко Квартирко Квартиркоeeeeee
								.product-relatives__footer
									.product-relatives__price 320 000 &euro;
									.product-relatives__like
										button.btn.btn__like
											+icon('like', true).icon.icon_left.icon--grey.icon_like-active
											+icon('favorite-heart-button', true).icon.icon_left.icon--orange.icon_like-inactive
							.product-relatives__item.col
								.product-relatives__image-container
									a(href="#")
										.product-relatives__picture
								.product-relatives__title
									| Квартирко Квартирко Квартиркоeeeeee
								.product-relatives__footer
									.product-relatives__price 320 000 &euro;
									.product-relatives__like
										button.btn.btn__like
											+icon('favorite-heart-button', true).icon.icon_left.icon--orange.icon_like-active
		footer
			.footer.col
				.footer__nav.row
					.footer__menu
						.footer__menu-item Объявления
						.footer__menu-item Акции и бонусы
						.footer__menu-item Информация
					.footer__social Гугл и Фейсбук
				.footer__description
					| Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium saepe itaque asperiores laborum optio hic fugit, voluptate sequi accusamus ullam veniam tenetur provident dolorem atque explicabo temporibus nesciunt quidem dolor.
				.footer__about
					| &#9400; Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, consectetur! Quisquam, et ipsum? Maxime sequi amet deleniti doloremque illo dignissimos ducimus corporis, in dolores aperiam nemo, veritatis quaerat non distinctio?

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtbg6QznaM9xO_-qprLkTPs9rnwOPsj_k&callback=initMap")

