.logo
  display flex
  max-width 320px

  &__img
    margin-right 16px
    height 40px
    align-self center

  &__subtitle
    font-size 13px
    text-align right
    color $grey
    align-self center
    line-height 1.2
