.header
  grid-template-columns repeat(4, 4fr)
  grid-template-areas 'logo app app app'

  &__app
    grid-area app
    display flex
    justify-content space-between

  &__user
    display flex
    justify-content flex-end
    align-items center
    flex 1

  &__likes
    margin-right 10px
  &__username
    margin 0 25px

  &__likes, &__username, &__btn
    @media (max-width: 1050px)
      display none

  &__menu
    display none
    font-size 34px
    color $grey

    @media (max-width: 1050px)
      display block


  .logo
    grid-area logo

.application
  display flex
  align-items center
  font-size 20px
  color $grey

  &__space
    margin-right 35px

    @media (max-width: 1050px)
      display none
