.application
  display flex
  align-items center
  font-size 20px
  color $grey

  &__space
    margin-right 35px

.person
  display flex
  justify-content flex-end
  align-items center

  &__likes
    margin-right 10px
  &__username
    margin 0 25px
