.footer
  margin-top 75px
  &__nav
    grid-template-columns repeat(2, 2fr)

  &__menu
    display flex
    flex-direction row
    text-align left
  &__menu-item
    margin-right 36px
    padding-left 9px
    border-left 3px solid $orange
  &__social
    text-align right

  &__description
    margin-top 57px
  &__about
    margin 35px 0 40px
