.icon
  // удалить отступ вправо
  width 23px
  height 23px
  vertical-align middle
  &_left
    margin-right 9px
  &--small
    width 11px
    height 11px
  &--grey
    fill $grey
  &--white
    fill $white


