.icon
  // удалить отступ вправо
  width 23px
  height 23px
  vertical-align middle
  &_left
    margin-right 0px
  &--small
    width 11px
    height 11px
  &--grey
    fill $grey
  &--white
    fill $white
  &--green
    fill $green_text
  &--orange
    fill $orange
